<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document title="untitled2.jspx" id="d1">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:panelFormLayout id="pfl1">
                    <af:inputText value="#{bindings.id.inputValue}"
                                  label="#{bindings.id.hints.label}"
                                  required="#{bindings.id.hints.mandatory}"
                                  columns="#{bindings.id.hints.displayWidth}"
                                  maximumLength="#{bindings.id.hints.precision}"
                                  shortDesc="#{bindings.id.hints.tooltip}"
                                  id="it1">
                        <f:validator binding="#{bindings.id.validator}"/>
                        <af:convertNumber groupingUsed="false"
                                          pattern="#{bindings.id.format}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.name.inputValue}"
                                  label="#{bindings.name.hints.label}"
                                  required="#{bindings.name.hints.mandatory}"
                                  columns="#{bindings.name.hints.displayWidth}"
                                  maximumLength="#{bindings.name.hints.precision}"
                                  shortDesc="#{bindings.name.hints.tooltip}"
                                  id="it2">
                        <f:validator binding="#{bindings.name.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.nameId.inputValue}"
                                  label="#{bindings.nameId.hints.label}"
                                  required="#{bindings.nameId.hints.mandatory}"
                                  columns="#{bindings.nameId.hints.displayWidth}"
                                  maximumLength="#{bindings.nameId.hints.precision}"
                                  shortDesc="#{bindings.nameId.hints.tooltip}"
                                  id="it3">
                        <f:validator binding="#{bindings.nameId.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.comment.inputValue}"
                                  label="#{bindings.comment.hints.label}"
                                  required="#{bindings.comment.hints.mandatory}"
                                  columns="#{bindings.comment.hints.displayWidth}"
                                  maximumLength="#{bindings.comment.hints.precision}"
                                  shortDesc="#{bindings.comment.hints.tooltip}"
                                  id="it4">
                        <f:validator binding="#{bindings.comment.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.id1.inputValue}"
                                  label="#{bindings.id1.hints.label}"
                                  required="#{bindings.id1.hints.mandatory}"
                                  columns="#{bindings.id1.hints.displayWidth}"
                                  maximumLength="#{bindings.id1.hints.precision}"
                                  shortDesc="#{bindings.id1.hints.tooltip}"
                                  id="it5">
                        <f:validator binding="#{bindings.id1.validator}"/>
                        <af:convertNumber groupingUsed="false"
                                          pattern="#{bindings.id1.format}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.firstName.inputValue}"
                                  label="#{bindings.firstName.hints.label}"
                                  required="#{bindings.firstName.hints.mandatory}"
                                  columns="#{bindings.firstName.hints.displayWidth}"
                                  maximumLength="#{bindings.firstName.hints.precision}"
                                  shortDesc="#{bindings.firstName.hints.tooltip}"
                                  id="it6">
                        <f:validator binding="#{bindings.firstName.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.lastName.inputValue}"
                                  label="#{bindings.lastName.hints.label}"
                                  required="#{bindings.lastName.hints.mandatory}"
                                  columns="#{bindings.lastName.hints.displayWidth}"
                                  maximumLength="#{bindings.lastName.hints.precision}"
                                  shortDesc="#{bindings.lastName.hints.tooltip}"
                                  id="it7">
                        <f:validator binding="#{bindings.lastName.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.email.inputValue}"
                                  label="#{bindings.email.hints.label}"
                                  required="#{bindings.email.hints.mandatory}"
                                  columns="#{bindings.email.hints.displayWidth}"
                                  maximumLength="#{bindings.email.hints.precision}"
                                  shortDesc="#{bindings.email.hints.tooltip}"
                                  id="it8">
                        <f:validator binding="#{bindings.email.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.phoneNumber.inputValue}"
                                  label="#{bindings.phoneNumber.hints.label}"
                                  required="#{bindings.phoneNumber.hints.mandatory}"
                                  columns="#{bindings.phoneNumber.hints.displayWidth}"
                                  maximumLength="#{bindings.phoneNumber.hints.precision}"
                                  shortDesc="#{bindings.phoneNumber.hints.tooltip}"
                                  id="it9">
                        <f:validator binding="#{bindings.phoneNumber.validator}"/>
                    </af:inputText>
                    <af:inputDate value="#{bindings.hireDate.inputValue}"
                                  label="#{bindings.hireDate.hints.label}"
                                  required="#{bindings.hireDate.hints.mandatory}"
                                  columns="#{bindings.hireDate.hints.displayWidth}"
                                  shortDesc="#{bindings.hireDate.hints.tooltip}"
                                  id="id1">
                        <f:validator binding="#{bindings.hireDate.validator}"/>
                        <af:convertDateTime pattern="#{bindings.hireDate.format}"/>
                    </af:inputDate>
                    <af:inputText value="#{bindings.salary.inputValue}"
                                  label="#{bindings.salary.hints.label}"
                                  required="#{bindings.salary.hints.mandatory}"
                                  columns="#{bindings.salary.hints.displayWidth}"
                                  maximumLength="#{bindings.salary.hints.precision}"
                                  shortDesc="#{bindings.salary.hints.tooltip}"
                                  id="it10">
                        <f:validator binding="#{bindings.salary.validator}"/>
                        <af:convertNumber groupingUsed="false"
                                          pattern="#{bindings.salary.format}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.commissionPercentage.inputValue}"
                                  label="#{bindings.commissionPercentage.hints.label}"
                                  required="#{bindings.commissionPercentage.hints.mandatory}"
                                  columns="#{bindings.commissionPercentage.hints.displayWidth}"
                                  maximumLength="#{bindings.commissionPercentage.hints.precision}"
                                  shortDesc="#{bindings.commissionPercentage.hints.tooltip}"
                                  id="it11">
                        <f:validator binding="#{bindings.commissionPercentage.validator}"/>
                        <af:convertNumber groupingUsed="false"
                                          pattern="#{bindings.commissionPercentage.format}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.id2.inputValue}"
                                  label="#{bindings.id2.hints.label}"
                                  required="#{bindings.id2.hints.mandatory}"
                                  columns="#{bindings.id2.hints.displayWidth}"
                                  maximumLength="#{bindings.id2.hints.precision}"
                                  shortDesc="#{bindings.id2.hints.tooltip}"
                                  id="it12">
                        <f:validator binding="#{bindings.id2.validator}"/>
                        <af:convertNumber groupingUsed="false"
                                          pattern="#{bindings.id2.format}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.streetAddress.inputValue}"
                                  label="#{bindings.streetAddress.hints.label}"
                                  required="#{bindings.streetAddress.hints.mandatory}"
                                  columns="#{bindings.streetAddress.hints.displayWidth}"
                                  maximumLength="#{bindings.streetAddress.hints.precision}"
                                  shortDesc="#{bindings.streetAddress.hints.tooltip}"
                                  id="it13">
                        <f:validator binding="#{bindings.streetAddress.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.postalCode.inputValue}"
                                  label="#{bindings.postalCode.hints.label}"
                                  required="#{bindings.postalCode.hints.mandatory}"
                                  columns="#{bindings.postalCode.hints.displayWidth}"
                                  maximumLength="#{bindings.postalCode.hints.precision}"
                                  shortDesc="#{bindings.postalCode.hints.tooltip}"
                                  id="it14">
                        <f:validator binding="#{bindings.postalCode.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.city.inputValue}"
                                  label="#{bindings.city.hints.label}"
                                  required="#{bindings.city.hints.mandatory}"
                                  columns="#{bindings.city.hints.displayWidth}"
                                  maximumLength="#{bindings.city.hints.precision}"
                                  shortDesc="#{bindings.city.hints.tooltip}"
                                  id="it15">
                        <f:validator binding="#{bindings.city.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.stateprovince.inputValue}"
                                  label="#{bindings.stateprovince.hints.label}"
                                  required="#{bindings.stateprovince.hints.mandatory}"
                                  columns="#{bindings.stateprovince.hints.displayWidth}"
                                  maximumLength="#{bindings.stateprovince.hints.precision}"
                                  shortDesc="#{bindings.stateprovince.hints.tooltip}"
                                  id="it16">
                        <f:validator binding="#{bindings.stateprovince.validator}"/>
                    </af:inputText>
                    <af:inputText value="#{bindings.country.inputValue}"
                                  label="#{bindings.country.hints.label}"
                                  required="#{bindings.country.hints.mandatory}"
                                  columns="#{bindings.country.hints.displayWidth}"
                                  maximumLength="#{bindings.country.hints.precision}"
                                  shortDesc="#{bindings.country.hints.tooltip}"
                                  id="it17">
                        <f:validator binding="#{bindings.country.validator}"/>
                    </af:inputText>
                    <f:facet name="footer">
                        <af:panelGroupLayout layout="vertical" id="pgl1">
                            <af:panelGroupLayout layout="horizontal" id="pgl2">
                                <af:button actionListener="#{bindings.First.execute}"
                                           text="First"
                                           disabled="#{!bindings.First.enabled}"
                                           partialSubmit="true" id="b1"/>
                                <af:button actionListener="#{bindings.Previous.execute}"
                                           text="Previous"
                                           disabled="#{!bindings.Previous.enabled}"
                                           partialSubmit="true" id="b2"/>
                                <af:button actionListener="#{bindings.Next.execute}"
                                           text="Next"
                                           disabled="#{!bindings.Next.enabled}"
                                           partialSubmit="true" id="b3"/>
                                <af:button actionListener="#{bindings.Last.execute}"
                                           text="Last"
                                           disabled="#{!bindings.Last.enabled}"
                                           partialSubmit="true" id="b4"/>
                            </af:panelGroupLayout>
                            <af:button text="Submit" id="b5"/>
                        </af:panelGroupLayout>
                    </f:facet>
                </af:panelFormLayout>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>
